section.account-list
	.account-list__container
		.account-list__header
			.account-list__header-name.account-list__header-num Номер
			.account-list__header-name.account-list__header-date Дата
			.account-list__header-name.account-list__header-org Контрагент
			.account-list__header-name.account-list__header-reason Назначение
			.account-list__header-name.account-list__header-summ Сумма
		div(id='account-list__items').account-list__items
			include bank-account.pug