section.account-list
	.account-list__container.container
		.account-list__header
			.account-list__header-name Номер
			.account-list__header-name Дата
			.account-list__header-name Контрагент
			.account-list__header-name Назначение
			.account-list__header-name Сумма
		div(id='account-list__items').account-list__items
			include bank-account.pug