.account-list {
  margin-bottom: 210px;

  &__header {
    width: 100%;
    max-width: 1160px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    padding: 0 20px;
    position: relative;

    &-name {
      color: $name-clr;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 1.2px;
      transition: color 0.5s;
    }

    &-num,
    &-date,
    &-summ {

      &:hover {
        color: $main-hover-clr;
        cursor: pointer;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 5px;
          background-image: url(../img/icons/filtr.svg);
          right: 100px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }

    &-num {
      width: 10%;
    }
  }

    &-date {
      width: 15%;

      &:hover {
        &:before {
          left: 50px;
        }
      }
    }

    &-org {
      width: 25%;
    }

    &-reason {
      width: 35%;
    }

    &-summ {
      width: 15%;
      text-align: right;
      position: absolute;
      right: 0;
      padding-right: 20px;

      &:hover {
        position: absolute;

        &:before {
          right: 90px;
        }
      }

      @media (min-width: $screen-l) {
        position: static;
        z-index: 0;
        padding-right: 0;
      }
    }


  }
}

