.bank-account
	p.bank-account__item.bank-account__num 239857
	p.bank-account__item.bank-account__date 21.05.2018
	p.bank-account__item.bank-account__org ООО "Электрические решения"<br><span>KZ23453467657</span>
	p.bank-account__item.bank-account__reason Предоплата ежемесячного депозита за декабрь 2017 года
	.bank-account__item.bank-account__summ 89 974,35