.bank-account
	.bank-account__item1 239857
	.bank-account__item2 21.05.2018
	.bank-account__item3 ООО "Электрические решения"
	.bank-account__item4 Предоплата ежемесячного депозита за декабрь 2017 года
	.bank-account__item5 89 974,35