.bank-account {
  margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
  height: auto;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 30px;
  max-width: 1160px;
  position: relative;
  padding: 20px 30px;

  @media (max-width: $screen-s) {
    grid-area: block2;
    flex-direction: column;
    height: 500px;
    padding-left: 5px;
    margin-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }

  &__item {
    font-size: 0.88rem;
    line-height: 20px;
    letter-spacing: 0.21px;
    text-align: left;

    @media (max-width: $screen-s) {
      height: 80px;
      overflow-y: hidden;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }
  }

  &__num {
    width: 10%;

    @media (max-width: $screen-s) {
      width: 100%;
      line-height: 80px;
    }
  }

  &__date {
    width: 15%;

     @media (max-width: $screen-s) {
      width: 100%;
      line-height: 80px;
    }
  }

  &__org {
    width: 26%;
    padding-right: 30px;

    & span {
      color: $name-clr;
      font-size: 0.88rem;
    }

    @media (max-width: $screen-l) {
      width: 25%;
      padding-right: 10px;
    }

     @media (max-width: $screen-s) {
      width: 100%;
    }
  }

  &__reason {
    width: 32%;

    @media (max-width: $screen-l) {
      width: 35%;
    }
     @media (max-width: $screen-s) {
      width: 100%;
    }
  }

  &__summ {
    width: 15%;
    min-width: 200px;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.36px;
    text-align: right;
    line-height: 90px;
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    padding-right: 20px;

    @media (max-width: $screen-s) {
      font-size: 1rem;
      width: 100%;
      position: static;
      padding-right: 0;
      box-shadow: none;
      text-align: center;
      line-height: 80px;
    }

    @media (min-width: $screen-l) {
      position: static;
      z-index: 0;
      box-shadow: none;
      padding-right: 0;
    }
  }
}