.bank-account {
  margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
  height: 90px;
  border-radius: 4px;
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1160px;
  position: relative;
  margin-bottom: 10px;

  &__item {
    font-size: 0.88rem;
    line-height: 20px;
    letter-spacing: 0.21px;
    text-align: left;
  }

  &__num {
    width: 10%;
  }

  &__date {
    width: 15%;
  }

  &__org {
    width: 25%;

    & span {
      color: $name-clr;
      font-size: 0.88rem;
    }
  }

  &__reason {
    width: 35%;
  }

  &__summ {
    width: 15%;
    min-width: 200px;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.36px;
    text-align: right;
    line-height: 90px;
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    padding-right: 20px;

    @media (min-width: $screen-l) {
      position: static;
      z-index: 0;
      box-shadow: none;
      padding-right: 0;
    }
  }
}