extends templates/base-template.pug

block append style
	link(rel="shortcut icon" href="img/favicon/favicon.ico" type='image/x-icon')
	link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png")
	link(rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png")
	link(rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png")
	link(rel="manifest" href="img/favicon/manifest.json")

block header
	include ../blocks/header/header.pug
	
block main
	main
		include ../blocks/main-nav/main-nav.pug
		include ../blocks/deposit-section/deposit-section.pug
		include ../blocks/details-section/details-section.pug