.details-total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 75px;

  @media (max-width: $screen-s) {
    flex-direction: column;
    margin: 0 auto 50px auto;
  }

  &__block {
    width: 23%;
    border-top: 2px solid #e4e6eb;
    padding-top: 40px;

    @media (max-width: $screen-s) {
      width: 100%;
      border: none;
      text-align: center;
    }
  }

  &__block-name {
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: $name-clr;
    margin-bottom: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__block-number {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.36px;

    & span {
      font-size: 0.88rem;
      line-height: 0.21px;
    }
  }

  &__plus {
    color: $plus-clr;
  }

  &__minus {
    color: $minus-clr;
  }

  &__outcome {
    padding-left: 20px;
    color: $outcome-clr;
    position: relative;

    @media (max-width: $screen-s) {
      padding-left: 0;
    }

    &:before {
      content: '=';
      position: absolute;
      width: 10px;
      height: 10px;
      left: 0;
      color: $outcome-clr;

      @media (max-width: $screen-s) {
        display: none;
      }
    }
  }
}