.details-total
	.details-total__block
		.details-total__block-name Входящий остаток
		.div(id='details-total__income').details-total__block-number.details-total__income 105 865,82
	.details-total__block
		.details-total__block-name Поступления
		div(id='details-total__plus').details-total__block-number.details-total__plus 0
	.details-total__block
		.details-total__block-name Списания
		div(id='details-total__minus').details-total__block-number.details-total__minus 0
	.details-total__block
		.details-total__block-name Исходящий остаток
		div(id='details-total__outcome').details-total__block-number.details-total__outcome 0