.time-block
	button.time-block__btn.btn Неделя 
	button.time-block__btn.btn Месяц
	button.time-block__btn.btn Год
	button.time-block__btn.btn
		svg.time-block__btn-icon(width="50" height="50")
			use(xlink:href="")