.time-block
	button.time-block__btn.time-block__btn-week Неделя 
	button.time-block__btn.time-block__btn-month Месяц
	button.time-block__btn.time-block__btn-year Год
	button.time-block__btn.btn
		svg.time-block__btn-icon(width="50" height="50")
			use(xlink:href="#calendar")