.deposit-info__block
	p.deposit-info__block-name Сумма депозита
	.deposit-info__block-number 201 342,50 <span>kzt</span>
.deposit-info__block
	p.deposit-info__block-name Дата окончания
	.deposit-info__block-number 20.08.2019
.deposit-info__block
	p.deposit-info__block-name Следующее вознаграждение
	.deposit-info__block-number 20.04.2018
.deposit-info__block
	p.deposit-info__block-name Ставка
	.deposit-info__block-number 8%