.deposit {
  grid-area: block2;
  background-color: #fff;
  padding-top: 140px;

  @media (max-width: $screen-s) {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  &__container {
    position: relative;
  }

  &__goback {
    position: absolute;
    width: 24px;
    height: 8px;
    left: 0;
    top: -55px;
    fill: $main-hover-clr;

    &:hover {
      fill: $name-clr;
    }

    @media (max-width: $screen-s) {
      top: -20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 50px;
    box-shadow: 0 10px 40px rgba(24, 151, 216, 0.2);
    border-radius: 25px;
    background-color: #fff;
    border: none;
    transition: background-color 0.5s;
    line-height: 50px;
    transition: all 0.4s;
    cursor: pointer;
    
    &:hover {
      background-color: $main-hover-clr;
      color: #fff;
    }

    & span {
      padding-left: 26px;
    }

    @media (max-width: $screen-s) {
      top: 130px;
      left: 0;
      margin: auto;
    }
  }

  &__title {
    font-size: 3rem;
    letter-spacing: 1.2px;
    font-weight: 300;
    margin-bottom: 13px;
    margin-top: 0;

    @media (max-width: $screen-m) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    display: block;
    font-size: 0.88rem;
    color: $name-clr;
    margin-bottom: 57px;

    @media (max-width: $screen-s) {
      margin-bottom: 100px;
    }
  }

  @import 'deposit-info';
}