section.deposit
	.deposit__container.container
		a(href="#").deposit__goback
			svg.deposit__goback-icon(width="24" height="8")
				use(xlink:href="")
		button.deposit__close-btn Закрыть досрочно <span>&#10006;</span>
		h1.deposit__title Депозит "Акционный"
		span.deposit__subtitle Депозит
		.deposit__info.deposit-info
			include deposit-info.pug