$main-font:      'FiraSans', sans-serif;
$main-fz:        14px;

$main-bgс:       #f5f6fa;
$font-clr:       #1b243c;
$name-clr:       #8b93a6;
$btn-clr:        #1897d8;
$hover-clr:      #f4d4e4;
$main-hover-clr: #1897d8;
$plus-clr:       #34b88c;
$minus-clr:      #fc5864;
$outcome-clr:    #28478f;

$screen-s:       767px;
$screen-m:       1023px;
$screen-l:       1279px;
$screen-xl:      1439px;
$screen-xxl:     1599px;
$screen-xxxl:    1919px;
