header(role="banner").page-header
	.page-header__block1
		button.page-header__toggle
			.burgerline.burgerline-1
			.burgerline.burgerline-2
			.burgerline.burgerline-3
	.page-header__block2
		a(href="index.html").page-header__logo-link
			svg.page-header__logo-icon(width="50" height="50")
				use(xlink:href="img/sprite.svg#chat")
		button.page-header__payment Новый платеж <span>+</span>
	.page-header__block3
		a(href="#").page-header__settings-link
			svg.page-header__settings-icon(width="22" height="22")
				use(xlink:href="img/sprite.svg#settings")
		button.page-header__msg-icon
			.page-header__msg-number 5
	.page-header__block4
		a(href="#").page-header__person-wrap
			img(src="img/member_pic.jpg" alt="фото клиента").page-header__person-img
			span.page-header__person-name ИП <b>Байдавлетов</b><br>Байдавлетов Антип Львович
	.page-header__block5
		a(href="#").page-header__exit-link
			svg.page-header__exit-icon(width="20" height="20")
				use(xlink:href="img/sprite.svg#logout")


